@page
@model IndexModel
@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <form method="post">
        <div class="col-2">Текст для оценки:</div>
        <div class="col-10">
            <textarea name="text" rows="5" cols="50"></textarea>
            <div class="col-10">
                <select name="country">
                    <option value="RUS">Russia</option>
                    <option value="EU">France</option>
                    <option value="EU">Germany</option>
                    <option value="OTHER">USA</option>
                    <option value="OTHER">India</option>
                </select>
            </div>
            <input type="submit" />
        </div>
    </form>
</div>